@model IEnumerable<WorkersReports.Models.WorkerData>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div ng-app="WorkerDataApp">
    <table class="table" ng-controller="GetWorkerDataController">
        <tr>
            <th>
                Dipendente
            </th>
            <th>
                Ora
            </th>
            <th>
                Posizione
            </th>
            <th>
                Tipologia
            </th>
            <th></th>
        </tr>

        <tr ng-repeat="workerdata in workerdatas">
            <td>
                {{workerdata.PersonalData.FirstName}} {{workerdata.PersonalData.LastName}}
            </td>
            <td>
                {{workerdata.Time}}
            </td>
            <td>
                {{workerdata.Latitude}},{{workerdata.Longitude}}
            </td>
            <td>
                {{workerdata.Tipology}}
            </td>
            <td>
            </td>
        </tr>

    </table>
</div>

<script type="text/javascript">
    WorkerDataApp.controller('GetWorkerDataController', function ($scope, $http) {
        $http.get('/Api/WorkerDatas')
            .success(function (data, status, headers, config) {
                $scope.workerdatas = data;
            })
            .error(function () { });
    });
</script>